/data/original/
/data/datasets.tar
/data/k-shot/*/*/cached*
/log.lock
/.idea/
/src/__pycache__/

/run.back
/run.tmp.py

/result/SST-2-*roberta-large*
/result/CoLA-*roberta-large*
/result/MNLI-*roberta-large*
/result/MRPC-*roberta-large*
/result/QNLI-*roberta-large*
/result/RTE-*roberta-large*
/result/QQP-*roberta-large*
/result/STS-B-*roberta-large*
/A100-*

/gather-mnli-mm.sh
